flows/_complete_flow.json
[{"id":"38b7bc1d.686704","type":"http response","z":"1549899d.96fc76","name":"","x":490,"y":520,"wires":[]},{"id":"eb3f53ec.7ccc8","type":"template","z":"1549899d.96fc76","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h2>Camera: {{req.query.camera}}</h2>\n        <h2>Test Value 2: {{req.query.admin}}</h2>\n        <h2>Test Value 3: {{req.query.admin2}}</h2>\n        <h2>Active: {{req.query.active}}</h2>\n    </body>\n</html>","x":370,"y":520,"wires":[["38b7bc1d.686704"]]},{"id":"679c2568.c1aa9c","type":"http in","z":"1549899d.96fc76","name":"POST Webhook with URL Query","url":"/post-webhook/","method":"post","upload":false,"swaggerDoc":"","x":150,"y":560,"wires":[["eb3f53ec.7ccc8","5480fe4e656d8aa8","f83fac977ebecd4f"]]},{"id":"5480fe4e656d8aa8","type":"debug","z":"1549899d.96fc76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":560,"wires":[]},{"id":"2e81d1d4c1c11ecb","type":"http response","z":"1549899d.96fc76","name":"","x":490,"y":440,"wires":[]},{"id":"1be26ffd541934fb","type":"template","z":"1549899d.96fc76","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h2>Camera: {{req.query.camera}}</h2>\n        <h2>Test Value 2: {{req.query.admin}}</h2>\n        <h2>Test Value 3: {{req.query.admin2}}</h2>\n        <h2>Active: {{req.query.active}}</h2>\n    </body>\n</html>","x":370,"y":440,"wires":[["2e81d1d4c1c11ecb"]]},{"id":"c8115c9e7b4fdd08","type":"http in","z":"1549899d.96fc76","name":"GET Webhook with URL Query","url":"/get-webhook/","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["1be26ffd541934fb","5b1a57887ab68abf","f83fac977ebecd4f"]]},{"id":"5b1a57887ab68abf","type":"debug","z":"1549899d.96fc76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"e95c6faa.ab2e1","type":"http request","z":"1549899d.96fc76","name":"GET","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.2.111:1880/get-webhook?cam={{{cam}}}&cam_name={{{cam_name}}}&object={{{object}}}&total_storage={{{total_storage}}}&free_storage={{{free_storage}}}&datetime={{{datetime}}}&name={{{name}}}&license_plate={{{license_plate}}}&format=json","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":290,"y":720,"wires":[[]]},{"id":"637d3c55.eb3084","type":"inject","z":"1549899d.96fc76","name":"w/o detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"27343785968","vt":"str"},{"p":"datetime","v":"2020-06-02 09:06:02","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":110,"y":640,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"a09bfb7b556254b8","type":"inject","z":"1549899d.96fc76","name":"person detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"name","v":"David Hasselhoff","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"42243785968","vt":"str"},{"p":"datetime","v":"2020-06-21 11:21:54","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":120,"y":680,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"59d612ab46599ae1","type":"inject","z":"1549899d.96fc76","name":"car detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"license_plate","v":"K.I.T.T.","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"47143785968","vt":"str"},{"p":"datetime","v":"2020-06-21 13:03:24","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":110,"y":720,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"f83fac977ebecd4f","type":"link out","z":"1549899d.96fc76","name":"","mode":"link","links":["0b0473b961ffdebf"],"x":265,"y":520,"wires":[]},{"id":"0b0473b961ffdebf","type":"link in","z":"1549899d.96fc76","name":"","links":["f83fac977ebecd4f"],"x":325,"y":600,"wires":[["b1060468586da605","c33484420ca73ab8","a431c6cc8ef0b23c","4619660d51201f87"]]},{"id":"b1060468586da605","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last detected Person","format":"{{msg.payload.name}}","layout":"row-spread","x":620,"y":600,"wires":[]},{"id":"c33484420ca73ab8","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last detected Car","format":"{{msg.payload.license_plate}}","layout":"row-spread","x":610,"y":640,"wires":[]},{"id":"a431c6cc8ef0b23c","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last Alarm","format":"{{msg.payload.cam_name}} | {{msg.payload.datetime}}","layout":"row-spread","x":590,"y":680,"wires":[]},{"id":"6a79481301681f7f","type":"ui_gauge","z":"1549899d.96fc76","name":"","group":"2f9e02fe0d612fd1","order":5,"width":0,"height":0,"gtype":"gage","title":"Cloud Storage","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":720,"wires":[]},{"id":"4619660d51201f87","type":"function","z":"1549899d.96fc76","name":"","func":"var percentage = Math.round(msg.payload.free_storage*100/msg.payload.total_storage)\nmsg.payload = percentage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["6a79481301681f7f"]]},{"id":"29db60d4188c6e2c","type":"inject","z":"1549899d.96fc76","name":"clear","props":[{"p":"cam","v":"","vt":"str"},{"p":"cam_name","v":"","vt":"str"},{"p":"object","v":"","vt":"str"},{"p":"name","v":"","vt":"str"},{"p":"license_plate","v":"","vt":"str"},{"p":"total_storage","v":"","vt":"str"},{"p":"free_storage","v":"","vt":"str"},{"p":"datetime","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":90,"y":760,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"3cf69a85ecf90826","type":"http request","z":"1549899d.96fc76","name":"POST","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":760,"wires":[[]]},{"id":"14aa1ea935f10aac","type":"function","z":"1549899d.96fc76","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://192.168.2.111:1880/post-webhook\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n\"cam\":msg.cam,\n\"cam_name\":msg.cam_name,\n\"object\":msg.object,\n\"total_storage\":msg.total_storage,\n\"free_storage\":msg.free_storage,\n\"datetime\":msg.datetime,\n\"name\":msg.name,\n\"license_plate\":msg.license_plate\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":760,"wires":[["3cf69a85ecf90826"]]},{"id":"2f9e02fe0d612fd1","type":"ui_group","name":"Object Detection","tab":"4f35e0194d4097f4","order":1,"disp":true,"width":"12","collapse":false},{"id":"4f35e0194d4097f4","type":"ui_tab","name":"Cloud Webhook","icon":"dashboard","disabled":false,"hidden":false}]