flows/api_request_nodes.json
[{"id":"e95c6faa.ab2e1","type":"http request","z":"1549899d.96fc76","name":"GET","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.2.111:1880/get-webhook?cam={{{cam}}}&cam_name={{{cam_name}}}&object={{{object}}}&total_storage={{{total_storage}}}&free_storage={{{free_storage}}}&datetime={{{datetime}}}&name={{{name}}}&license_plate={{{license_plate}}}&format=json","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":290,"y":720,"wires":[[]]},{"id":"637d3c55.eb3084","type":"inject","z":"1549899d.96fc76","name":"w/o detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"27343785968","vt":"str"},{"p":"datetime","v":"2020-06-02 09:06:02","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":110,"y":640,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"a09bfb7b556254b8","type":"inject","z":"1549899d.96fc76","name":"person detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"name","v":"David Hasselhoff","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"42243785968","vt":"str"},{"p":"datetime","v":"2020-06-21 11:21:54","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":120,"y":680,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"59d612ab46599ae1","type":"inject","z":"1549899d.96fc76","name":"car detection","props":[{"p":"cam","v":"31259","vt":"str"},{"p":"cam_name","v":"entrance","vt":"str"},{"p":"object","v":"1","vt":"str"},{"p":"license_plate","v":"K.I.T.T.","vt":"str"},{"p":"total_storage","v":"52212254720","vt":"str"},{"p":"free_storage","v":"47143785968","vt":"str"},{"p":"datetime","v":"2020-06-21 13:03:24","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":110,"y":720,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"29db60d4188c6e2c","type":"inject","z":"1549899d.96fc76","name":"clear","props":[{"p":"cam","v":"","vt":"str"},{"p":"cam_name","v":"","vt":"str"},{"p":"object","v":"","vt":"str"},{"p":"name","v":"","vt":"str"},{"p":"license_plate","v":"","vt":"str"},{"p":"total_storage","v":"","vt":"str"},{"p":"free_storage","v":"","vt":"str"},{"p":"datetime","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":90,"y":760,"wires":[["e95c6faa.ab2e1","14aa1ea935f10aac"]]},{"id":"3cf69a85ecf90826","type":"http request","z":"1549899d.96fc76","name":"POST","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":760,"wires":[[]]},{"id":"14aa1ea935f10aac","type":"function","z":"1549899d.96fc76","name":"","func":"msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://192.168.2.111:1880/post-webhook\" ;\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n\"cam\":msg.cam,\n\"cam_name\":msg.cam_name,\n\"object\":msg.object,\n\"total_storage\":msg.total_storage,\n\"free_storage\":msg.free_storage,\n\"datetime\":msg.datetime,\n\"name\":msg.name,\n\"license_plate\":msg.license_plate\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":760,"wires":[["3cf69a85ecf90826"]]}]