flows/ui_nodes.json
[{"id":"0b0473b961ffdebf","type":"link in","z":"1549899d.96fc76","name":"","links":["f83fac977ebecd4f"],"x":325,"y":600,"wires":[["b1060468586da605","c33484420ca73ab8","a431c6cc8ef0b23c","4619660d51201f87"]]},{"id":"b1060468586da605","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last detected Person","format":"{{msg.payload.name}}","layout":"row-spread","x":620,"y":600,"wires":[]},{"id":"c33484420ca73ab8","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last detected Car","format":"{{msg.payload.license_plate}}","layout":"row-spread","x":610,"y":640,"wires":[]},{"id":"a431c6cc8ef0b23c","type":"ui_text","z":"1549899d.96fc76","group":"2f9e02fe0d612fd1","order":0,"width":0,"height":0,"name":"","label":"Last Alarm","format":"{{msg.payload.cam_name}} | {{msg.payload.datetime}}","layout":"row-spread","x":590,"y":680,"wires":[]},{"id":"6a79481301681f7f","type":"ui_gauge","z":"1549899d.96fc76","name":"","group":"2f9e02fe0d612fd1","order":5,"width":0,"height":0,"gtype":"gage","title":"Cloud Storage","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":720,"wires":[]},{"id":"4619660d51201f87","type":"function","z":"1549899d.96fc76","name":"","func":"var percentage = Math.round(msg.payload.free_storage*100/msg.payload.total_storage)\nmsg.payload = percentage\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["6a79481301681f7f"]]},{"id":"2f9e02fe0d612fd1","type":"ui_group","name":"Object Detection","tab":"4f35e0194d4097f4","order":1,"disp":true,"width":"12","collapse":false},{"id":"4f35e0194d4097f4","type":"ui_tab","name":"Cloud Webhook","icon":"dashboard","disabled":false,"hidden":false}]