flows/webhooks.json
[{"id":"38b7bc1d.686704","type":"http response","z":"1549899d.96fc76","name":"","x":490,"y":520,"wires":[]},{"id":"eb3f53ec.7ccc8","type":"template","z":"1549899d.96fc76","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h2>Camera: {{req.query.camera}}</h2>\n        <h2>Test Value 2: {{req.query.admin}}</h2>\n        <h2>Test Value 3: {{req.query.admin2}}</h2>\n        <h2>Active: {{req.query.active}}</h2>\n    </body>\n</html>","x":370,"y":520,"wires":[["38b7bc1d.686704"]]},{"id":"679c2568.c1aa9c","type":"http in","z":"1549899d.96fc76","name":"POST Webhook with URL Query","url":"/post-webhook/","method":"post","upload":false,"swaggerDoc":"","x":150,"y":560,"wires":[["eb3f53ec.7ccc8","5480fe4e656d8aa8","f83fac977ebecd4f"]]},{"id":"5480fe4e656d8aa8","type":"debug","z":"1549899d.96fc76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":560,"wires":[]},{"id":"2e81d1d4c1c11ecb","type":"http response","z":"1549899d.96fc76","name":"","x":490,"y":440,"wires":[]},{"id":"1be26ffd541934fb","type":"template","z":"1549899d.96fc76","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h2>Camera: {{req.query.camera}}</h2>\n        <h2>Test Value 2: {{req.query.admin}}</h2>\n        <h2>Test Value 3: {{req.query.admin2}}</h2>\n        <h2>Active: {{req.query.active}}</h2>\n    </body>\n</html>","x":370,"y":440,"wires":[["2e81d1d4c1c11ecb"]]},{"id":"c8115c9e7b4fdd08","type":"http in","z":"1549899d.96fc76","name":"GET Webhook with URL Query","url":"/get-webhook/","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["1be26ffd541934fb","5b1a57887ab68abf","f83fac977ebecd4f"]]},{"id":"5b1a57887ab68abf","type":"debug","z":"1549899d.96fc76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"f83fac977ebecd4f","type":"link out","z":"1549899d.96fc76","name":"","mode":"link","links":["0b0473b961ffdebf"],"x":265,"y":520,"wires":[]}]